<header>
    <h1>Enquete: minor WebDev CMD</h1>
    <p>Tip: Wil je even pauze? kopieer de link en sla deze goed op en open de link weer als je verder wilt gaan.</p>
    <button onclick="copy()" id="buttonClickUrl">Kopieër de url!</button>
    <textarea id="urllink" readonly>https://mysterious-bastion-67115.herokuapp.com<%= url %></textarea>       
</header>